.newDiv{
    margin: 5px;
    height: 200px;
    background-color: bisque;
    text-align: center;
    font-size: large;
}
.maincontent{
    margin: 5px;
    height: 200px;
    background-color: rgb(196, 255, 226);
    text-align: center;
    font-size: large;
}